@import url('https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,600;1,700&family=Volkhov&display=swap');

html {
    font-size: 10px;
    font-family: 'Rosario', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1650px;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.header {
    height: 10vh;
    display: flex;
    background: linear-gradient(90deg, white 11%, black 11%, black);
    color: white;
}

.header img {
    height: 100%;
    width: 100%;
}

.header-navig {
    width: 89%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 3.6rem;
    font-style: italic;
}

.header-navig div {
    margin: auto 2%;
}

.header-navig div a {
    text-decoration: none;
    color: #FFFCFC;
}

/*.navig-menu {}*/

/*перший екран*/
.screen-one {
    height: 90vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left {
    width: 20%;
}

.fifth-img {
    width: 100%;
    height: 60%;
    transform: translateX(-25vw);
    animation: slide-left-two 1s linear 1 1s;
    animation-fill-mode: forwards;
}

.center {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.first-img {
    animation: slide-left-one 1s linear 1;
}

.third-img {
    animation: slide-left-one 1s linear 1;
}


.second-img {
    animation: slide-right-one 1s linear 1;
}

.fourth-img {
    animation: slide-right-one 1s linear 1;
}


.center img {
    width: 40%;
    height: 40%;
    margin: 5% 0%;
}

.right {
    width: 20%;
}

.sixth-img {
    width: 100%;
    height: 60%;
    transform: translateX(25vw);
    animation: slide-right-two 1s linear 1 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-left-one {

    from,
    to {
        position: relative;
        left: -100%;
    }

    100% {
        left: 0;
    }
}

@keyframes slide-left-two {

    from,
    to {
        position: relative;
        transform: translateX(-25vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slide-right-one {

    from,
    to {
        position: relative;
        right: -100%;
    }

    100% {
        right: 0;
    }
}

@keyframes slide-right-two {

    from,
    to {
        position: relative;
        transform: translateX(25vw);
    }

    100% {
        transform: translateX(0);
    }
}


/*другий екран*/

.screen-two {
    height: 100vh;
    display: flex;
    background-color: #FFFFFF;
}

.left-part {
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.lp-one {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slide-around-one 20s infinite linear;
}

.lp-two {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slide-around-two 20s infinite linear;
}

.lp-three {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slide-around-three 20s infinite linear;
}

.lp-four {
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: slide-around-four 20s infinite linear;
}

.image {
    height: 80%;
}

.image img {
    height: 100%;
}

.image-title {
    height: 20%;
    font-weight: 700;
    font-size: 4.8rem;
    font-style: italic;
}


.right-part {
    width: 50%;
}

.right-part img {
    height: 100%;
    width: 100%;
}

@keyframes slide-around-one {

    from,
    to {
        left: 0;
        right: 0;
    }

    25% {
        transform: translate(23vw, 0);
    }

    50% {
        transform: translate(23vw, 40vh);
    }

    75% {
        transform: translate(0vw, 40vh);
    }
}

@keyframes slide-around-two {

    from,
    to {
        left: 0;
        right: 0;
    }

    25% {
        transform: translate(0vw, 40vh);
    }

    50% {
        transform: translate(-23vw, 40vh);
    }

    75% {
        transform: translate(-23vw, 0vh);
    }
}

@keyframes slide-around-three {

    from,
    to {
        left: 0;
        right: 0;
    }

    25% {
        transform: translate(0vw, -40vh);
    }

    50% {
        transform: translate(23vw, -40vh);
    }

    75% {
        transform: translate(23vw, 0vh);
    }
}

@keyframes slide-around-four {

    from,
    to {
        left: 0;
        right: 0;
    }

    25% {
        transform: translate(-23vw, 0vh);
    }

    50% {
        transform: translate(-23vw, -40vh);
    }

    75% {
        transform: translate(0vw, -40vh);
    }
}


/*третій екран*/

.screen-three {
    margin-top: 10vh;
    height: 90vh;
    background-color: #FFFFFF;
}

.s-three-header {
    height: 25vh;
    font-weight: 700;
    font-size: 9.6rem;
    text-align: center;
}

.s-three-cards {
    margin-top: 10vh;
    height: 65vh;
    display: flex;
    justify-content: space-evenly;
}

.card {
    height: 100%;
    width: 20%;
}

.card-image {
    height: 100%;
}

.card-image img {
    width: 100%;
    height: 100%;
}

.card-name {
    height: 8.5vh;
    text-align: center;
    padding: 10px 0;
    font-family: 'Volkhov', serif;
    font-weight: 400;
    font-size: 4.8rem;
    position: relative;
    bottom: 12vh;
    color: #FFFAFA;
    background: rgba(163, 83, 10, 0.7);
    border-radius: 0 0 24px 24px;
    opacity: 0;
}

.s-three-cards:hover > .card{
    filter: brightness(0.5);
}
.card:hover{
    filter: none !important;
}

.card-image:hover .card-name {
    opacity: 1;
}


/*четвертий екран*/

.screen-four {
    margin-top: 10vh;
    /*height: 90vh;*/
    background-color: #FFFFFF;
}

.scrfour-main {
    height: 90vh;
    margin-top: 15vh;
    margin-bottom: 5vh;
    display: flex;
    justify-content: space-evenly;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.form .form-title {
    font-weight: 700;
    font-size: 6.4rem;
    font-style: italic;
}

.top {
    display: flex;
}

.top div {
    width: 45%;

}

.top div input {
    width: 100%;
    border: 28px solid #E5E5E5;
}


.bottom {
    width: 100%;
}

.bottom textarea {
    width: 90%;
    border: 28px solid #E5E5E5;
}

input,
textarea {
    font-weight: 700;
    font-size: 3.6rem;
}


.map {
    width: 40%;
    height: 82vh;
}

iframe {
    width: 100%;
    height: 100%;
}

/*футер*/

footer {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-around;
}


.contacts {
    width: 40%;
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    font-style: italic;

}

.contacts span {
    font-weight: 700;
    font-size: 3rem;
    font-style: normal;
}

.work-time {
    width: 40%;
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    font-style: italic;
}

.wt-title {
    font-weight: 700;
    font-size: 3.6rem;
}

.social {
    width: 20%;
    text-align: center;
    font-weight: 600;
    font-size: 3rem;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.social-title {
    font-weight: 700;
    font-size: 3rem;
    font-style: normal;
}

.social div a {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*медіа запит на екран від 768 до 992 пікселі*/

@media screen and (min-width: 768px) and (max-width: 992px) {

    .header {
        width: auto;
        height: auto;
        background: white;

    }

    .header-navig {
        width: 70%;
        height: auto;
        flex-wrap: wrap;
        background-color: black;
    }

    /* медіа запит на перший екран до 992 пікселі */
    .screen-one {
        display: block;
        height: auto;
        margin: 0 auto;
    }

    .left {
        margin: 0 auto;
    }

    .center {
        margin: 0 auto;
    }

    .right {
        margin: 0 auto;
    }


    .first-img {
        opacity: 0;
        animation: slide-left-one 1s linear 1;
        animation-fill-mode: forwards;
    }

    .second-img {
        opacity: 0;
        animation: slide-right-one 1s linear 1;
        animation-fill-mode: forwards;
    }

    .third-img {
        opacity: 0;
        animation: slide-left-one 1s linear 1s 1;
        animation-fill-mode: forwards;
    }

    .fourth-img {
        opacity: 0;
        animation: slide-right-one 1s linear 1s 1;
        animation-fill-mode: forwards;
    }

    .fifth-img {
        opacity: 0;
        animation: slide-left-two 1s linear 2s 1;
        animation-fill-mode: forwards;
    }

    .sixth-img {
        opacity: 0;
        animation: slide-right-two 1s linear 2s 1;
        animation-fill-mode: forwards;
    }


    @keyframes slide-left-one {

        from,
        to {
            opacity: 1;
            position: relative;
            transform: translate(-70vw, -40vh);
        }

        100% {
            opacity: 1;
            transform: translate(-5vw, -40vh);
        }
    }

    @keyframes slide-left-two {

        from,
        to {
            opacity: 1;
            position: relative;
            transform: translate(-100vw, 75vh);
        }

        100% {
            opacity: 1;
            transform: translate(-16.5vw, 75vh);
        }
    }

    @keyframes slide-right-one {

        from,
        to {
            opacity: 1;
            position: relative;
            transform: translate(70vw, -40vh);
        }

        100% {
            opacity: 1;
            transform: translate(5vw, -40vh);
        }
    }

    @keyframes slide-right-two {

        from,
        to {
            opacity: 1;
            position: relative;
            transform: translate(100vw, -38vh);
        }

        100% {
            opacity: 1;
            transform: translate(16.5vw, -38vh);
        }
    }


    /* медіа запит на другий екран до 992 пікселі */
    .screen-two {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .left-part {
        width: 100%;
    }

    .right-part {
        width: 100%;
    }

    @keyframes slide-around-one {

        from,
        to {
            left: 0;
            right: 0;
        }

        25% {
            transform: translate(47vw, 0);
        }

        50% {
            transform: translate(47vw, 65vh);
        }

        75% {
            transform: translate(0vw, 65vh);
        }
    }

    @keyframes slide-around-two {

        from,
        to {
            left: 0;
            right: 0;
        }

        25% {
            transform: translate(0vw, 65vh);
        }

        50% {
            transform: translate(-47vw, 65vh);
        }

        75% {
            transform: translate(-47vw, 0vh);
        }
    }

    @keyframes slide-around-three {

        from,
        to {
            left: 0;
            right: 0;
        }

        25% {
            transform: translate(0vw, -65vh);
        }

        50% {
            transform: translate(47vw, -65vh);
        }

        75% {
            transform: translate(47vw, 0vh);
        }
    }

    @keyframes slide-around-four {

        from,
        to {
            left: 0;
            right: 0;
        }

        25% {
            transform: translate(-47vw, 0vh);
        }

        50% {
            transform: translate(-47vw, -65vh);
        }

        75% {
            transform: translate(0vw, -65vh);
        }
    }

    /* медіа запит на третій екран до 992 пікселі */
    .screen-three {
        height: auto;
    }

    .s-three-header {
        height: auto;
    }

    .s-three-cards {
        height: auto;
        flex-wrap: wrap;
    }

    .card {
        margin: auto 2vh;
        width: 35%;
        height: 100%;
    }

    .card:hover .card-name {
        opacity: 1;
        transition: 2s;
    }

    /* медіа запит на четвертий екран до 992 пікселі */

    .screen-four {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .scrfour-main {
        height: auto;
        flex-direction: column;
        order: 2;
    }

    .map {
        width: 90vw;
        height: 50vh;
        margin: 0 auto;
    }

    .form {
        width: 90vw;
        margin: 0 auto;
    }

    .form-title {
        text-align: center;
    }

    footer {
        flex-wrap: wrap;
        order: 1;
    }
}



/*медіа запит на перший екран до 768*/

@media screen and (max-width: 767px) {

    .header {
        width: auto;
        height: auto;
        background: white;

    }

    .header-navig {
        width: 70%;
        height: auto;
        flex-wrap: wrap;
        background-color: black;
    }

    .header-navig {
        width: 80%;
        height: auto;
        flex-wrap: wrap;
    }




    .screen-one {
        height: auto;
        margin: 0 auto;
        flex-direction: column;
    }

    .left {
        order: 2;
        margin: 0 auto;
        width: 50%;
    }

    .center {
        order: 1;
        width: 50%;
    }

    .right {
        order: 3;
        margin: 0 auto;
        width: 50%;
    }

    .center img {
        width: 100%;
    }

    .center {
        margin: 0 auto;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .first-img {
        order: 1;
        opacity: 0;
        animation: slide-left-one 1s linear 1;
        animation-fill-mode: forwards;
    }

    .second-img {
        order: 2;
        opacity: 0;
        animation: slide-right-one 1s linear 1s 1;
        animation-fill-mode: forwards;
    }

    .third-img {
        order: 3;
        opacity: 0;
        animation: slide-left-one 1s linear 2s 1;
        animation-fill-mode: forwards;
    }

    .fourth-img {
        order: 4;
        opacity: 0;
        animation: slide-right-one 1s linear 3s 1;
        animation-fill-mode: forwards;
    }

    .fifth-img {
        opacity: 0;
        animation: slide-left-two 1s linear 4s 1;
        animation-fill-mode: forwards;
    }

    .sixth-img {
        opacity: 0;
        animation: slide-right-two 1s linear 5s 1;
        animation-fill-mode: forwards;
    }

    @keyframes slide-left-one {

        from,
        to {
            opacity: 1;
            position: relative;
            left: -100%;
        }

        100% {
            opacity: 1;
            left: 0;
        }
    }

    @keyframes slide-left-two {

        from,
        to {
            opacity: 1;
            position: relative;
            left: -100%;
        }

        100% {
            opacity: 1;
            left: 50%;
        }
    }

    @keyframes slide-right-one {

        from,
        to {
            opacity: 1;
            position: relative;
            right: -100%;
        }

        100% {
            opacity: 1;
            right: 0;
        }
    }

    @keyframes slide-right-two {

        from,
        to {
            position: relative;
            opacity: 1;
            transform: translateX(25vw);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    /* медіа запити на другий екран  до 768*/
    .screen-two {
        height: auto;
        margin: 0 auto;
    }

    .left-part {
        width: 100%;
        height: auto;
        margin: 0 0;
    }

    .lp-one,
    .lp-two,
    .lp-three,
    .lp-four {
        width: 40%;
        height: 40%;
    }

    .right-part {
        display: none;
    }

    @keyframes slide-around-one {

        from,
        to {
            left: 0;
            right: 0;
        }

        25% {
            transform: translate(45vw, 0);
        }

        50% {
            transform: translate(45vw, 70vh);
        }

        75% {
            transform: translate(0, 70vh);
        }
    }

    @keyframes slide-around-two {

        from,
        to {
            left: 0;
            right: 0;
        }

        25% {
            transform: translate(0vw, 70vh);
        }

        50% {
            transform: translate(-45vw, 70vh);
        }

        75% {
            transform: translate(-45vw, 0vh);
        }
    }

    @keyframes slide-around-three {

        from,
        to {
            left: 0;
            right: 0;
        }

        25% {
            transform: translate(0vw, -70vh);
        }

        50% {
            transform: translate(45vw, -70vh);
        }

        75% {
            transform: translate(45vw, 0vh);
        }
    }

    @keyframes slide-around-four {

        from,
        to {
            left: 0;
            right: 0;
        }

        25% {
            transform: translate(-45vw, 0vh);
        }

        50% {
            transform: translate(-45vw, -70vh);
        }

        75% {
            transform: translate(0vw, -70vh);
        }
    }

    /* медіа запити на третій екран  до 768*/

    .screen-three {
        height: auto;
    }

    .s-three-header {
        height: auto;
    }

    .s-three-cards {
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .card {
        margin: 0 auto;
        width: 35%;
        height: 100%;
    }

    .card:hover .card-name {
        opacity: 1;
        transition: 2s;
    }



    /* медіа запити на четвертий екран  до 768*/


    .screen-four {
        height: auto;
    }

    .scrfour-main {
        height: auto;
        flex-direction: column-reverse;
    }

    .map {
        width: 90vw;
        height: 50vh;
        margin: 0 auto;
    }

    .form {
        width: 90vw;
        margin: 0 auto;
    }

    .form-title {
        text-align: center;
    }

    footer {
        flex-wrap: wrap;
    }

    .contacts {
        width: auto;
        text-align: center;
        margin: auto;
        font-weight: 600;
        font-size: 3rem;
        font-style: italic;
    }

    .work-time {
        width: auto;
        margin: 4vh auto;
        text-align: center;
        font-weight: 600;
        font-size: 3rem;
        font-style: italic;
    }

    .wt-title br:last-child {
        display: none;
    }

    .social {
        margin: 4vh auto;
        width: auto;
        text-align: center;
        font-weight: 600;
        font-size: 3rem;
        font-style: italic;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}